@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --Green: hsl(75, 94%, 57%);

    --White: hsl(0, 0%, 100%);

    --Grey-700: hsl(0, 0%, 20%);
    --Grey-800: hsl(0, 0%, 12%);
    --Grey-900: hsl(0, 0%, 8%);
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--Grey-900);
    font-family: 'Inter', sans-serif;
    color: var(--White);
}

img{ 
    width : 120px; height : 120px;
    border: none;
    -moz-border-radius : 75px;
    -webkit-border-radius : 75px;
    border-radius : 75px;
}

.section{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--Grey-800);
    padding: 5% 10%;
    border-radius: 12px;
}

.section h1{
    margin-bottom: -10px;
}

.section #descr{
    color: var(--Green);
}

.section-networks{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 140%;
}

.section-networks p{
    display: flex;
    justify-content: center;
    border-radius: 12px;
    padding: 5% 0;
    background-color: var(--Grey-700);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width:400px){
    .section-networks P{
        margin: 2% 10%;
    }
}